<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>Booking Approval</h3>
						</div>
					</div>
					<div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_content">

									{{if .alert }}
									<div class="alert {{ .alert }}" role="alert">
										{{.message}}
									</div>
									{{end}}

									<br />
                  <form method="POST" action="/booking/approval" id="BookingApprovalForm" name="BookingApprovalForm" data-parsley-validate class="form-horizontal form-label-left">
										<input type="hidden" name="bookingId" value="{{.booking.BookingId}}">
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="title">{{ T .Context "booking_title" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.Title}}
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="activity">{{ T .Context "booking_activity" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.ActivityText}}
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="organizer">{{ T .Context "booking_organizer" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.Organizer}}
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="pic">{{ T .Context "booking_pic" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.Pic}}
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="pic_contactno">{{ T .Context "booking_pic_contactno" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.PicContactNo}}
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="number-of-participant">{{ T .Context "booking_participant_count" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.ParticipantCount}}
											</div>
										</div>

                    <div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align">{{ T .Context "booking_start_date" nil }}<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.StartDate.Format "2006-01-02"}}
												{{.booking.StartDate.Format "15:04"}}
											</div>
										</div>
                    <div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align">{{ T .Context "booking_end_date" nil }}<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.EndDate.Format "2006-01-02"}}
												{{.booking.EndDate.Format "15:04"}}
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="room">{{ T .Context "booking_room_name" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
											{{range .booking.Rooms}}
												{{.Name}} <br>
											{{end}}
                        
											</div>
                    </div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="booking-status">{{ T .Context "booking_status" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.Status}}
											</div>
										</div>
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="username">{{ T .Context "user_username" nil }} <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												{{.booking.CreatedBy}}
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="reject-reason">{{ T .Context "booking_reject_reason" nil }} 
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="reject-reason" name="reject-reason" value="{{.booking.RejectReason}}" class="form-control ">
											</div>
										</div>

										<div class="ln_solid"></div>
										<div class="item form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												{{if and (ne .alert "alert-success") (eq .booking.Status "Pending")}}
												<button type="submit" name="btnAction" class="btn btn-success" value="Approve">Approve</button>
												<button type="submit" name="btnAction" class="btn btn-danger" value="Reject">Reject</button>
												{{end}}
												{{if and (ne .alert "alert-success") (eq .booking.Status "Approved")}}	
												<button type="submit" name="btnAction" class="btn btn-danger" value="Cancel">Cancel Booking</button>
												{{end}}
												<button type="button" class="btn btn-back" onclick="location.href='/booking/home'">Back</button>
											</div>
										</div>


                  </form>

                </div>
              </div>
            </div>


          </div>




        </div>
      </div>
      <!-- /page content -->
    
    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}