<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>New Booking</h3>
						</div>
					</div>
					<div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_content">

									{{if .alert }}
									<div class="alert {{ .alert }}" role="alert">
										{{.message}}
									</div>
									{{end}}

									<br />
                  <form method="POST" id="ChangePasswordForm" name="ChangePasswordForm" data-parsley-validate class="form-horizontal form-label-left">
										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="old-password">Old Password <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="password" id="old-password" name="old-password" required="required" class="form-control ">
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="new-password">New Password <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="password" id="new-password" name="new-password" required="required" class="form-control ">
											</div>
										</div>

 										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align" for="confirm-password">Confirm Password <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="password" id="confirm-password" name="confirm-password" required="required" class="form-control ">
											</div>
										</div>

                    <div class="ln_solid"></div>
										{{if ne .alert "alert-success"}}
										<div class="item form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<button type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>
										{{end}}


                  </form>

                </div>
              </div>
            </div>


          </div>




        </div>
      </div>
      <!-- /page content -->
    
    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}