<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Menu</h3>
    <ul class="nav side-menu">
      <li><a href="/home"><i class="fa fa-home"></i> Dashboard </a>
      </li>
      <li><a><i class="fa fa-edit"></i> Booking <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/booking/home">{{ T .Context "booking_home" nil }}</a></li>
          <li><a href="/booking/create">{{ T .Context "booking_new" nil }}</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> Admin <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/user/change-password">{{ T .Context "admin_change_password" nil }}</a></li>
          {{if eq .User.Role "admin"}}
          <li><a href="/admin/user-search">{{ T .Context "admin_user_management" nil }}</a></li>
          {{end}}
        </ul>
      </li>
      <li><a href="/logout"><i class="fa fa-close"></i>Logout </a>
      </li>
    </ul>
  </div>
</div>
